# Tax Service API Configuration
TAXSERVICE_BASE_URL=https://ecrm.taxservice.am/taxsystem-rs-vcr

CLIENT_CERT_PATH=./certs/TIN-CRN.crt
CLIENT_KEY_PATH=./certs/TIN.key
CLIENT_KEY_PASSPHRASE=your_passphrase_here # (optional) if your key has a passphrase

# Alternatively, you can use a PKCS#12 file
# CLIENT_P12_PATH=./certs/TIN-CRN.p12
# CLIENT_P12_PASSPHRASE=your_p12_passphrase_here # (optional) if your p12 has a passphrase

# REQUEST_TIMEOUT_MS=20000

# CRN configuration
CRN=1234567890
TIN=0987654321

# Proxy server configuration
NODE_ENV=development
PORT=3000
AUTH_TOKEN=basic_service_token_here
PRINT_IDEMPOTENCY_DIR=./idempotency

#Telegram Bot configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHANNEL_ID=@your_channel_id_here
